table.customTable {
    width: auto;
    min-width: 900px;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #7ea8f8;
    border-style: solid;
    color: #000000;
    font-family: "Courier New", Courier, monospace;
}

table.customTable td,
table.customTable th {
    border-width: 2px;
    border-color: #7ea8f8;
    border-style: solid;
    padding: 5px;
}

table.customTable thead {
    background-color: #000000;
    color: white;
}
